*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

body {
  font-size: $font-size;
  color: $font-color;
  background: $body-background;
  .no-scroll {
    overflow: hidden;
  }
}

.container {
  margin: 0 auto;
  max-width: calc($container-width + 2 * $container-padding);
  padding: 0 $container-padding;
  @media screen and (max-width: calc(100px + $container-width + 2 * $container-padding)) {
    max-width: 1024px;
  }
  @media screen and (max-width: 1124px) {
    max-width: 768px;
  }
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background: $primary;
  color: $white;
  text-decoration: none;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;

  transition: box-shadow 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 4px 30px rgba($primary, 0.2);
  }
}
