// -------- COLORS -------- //
$black: #000000;
$white: #ffffff;

// -------- INTERFACE -------- //
$font-family: "Manrope";
$font-size: 16px;
$font-color: $black;

$body-background: $white;

$container-width: 1200px;
$container-padding: 10px;
