// -------- COLORS -------- //
$black: #222222;
$white: #ffffff;
$primary: #5865f2;
$primary_light: #828cf5;
$danger: #f44f4f;

// -------- INTERFACE -------- //
$font-family: "Manrope";
$font-size: 16px;
$font-color: $black;

$body-background: $white;

$container-width: 1200px;
$container-padding: 10px;
