.products {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  &__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
.products-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  &__form {
    flex: 1;
    input {
      flex: 1;
    }
    display: flex;
    align-items: center;
    gap: 32px;
    span {
      display: inline-flex;
      align-items: center;
      gap: 1rem;
    }
    select {
      padding: 0.25rem;
      font-size: 1rem;
      color: $black;
      border: 1px solid $black;
      border-radius: 0.5rem;
    }
  }
}
.products-table-wrapper {
  width: 100%;
  overflow: auto;
  flex: 1;
}
.products-table {
  min-width: 1000px;
  width: 100%;
  white-space: nowrap;
  table-layout: fixed;

  &,
  th,
  td {
    border-spacing: 0;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 0.25rem;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
  }
  tbody tr {
    cursor: pointer;
    &:hover {
      background: #d5d8fb;
    }
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  &__item {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    color: $white;
    background: $primary;
    opacity: 0.5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 0.75;
    }
    &_active {
      opacity: 1;
    }
  }
}
