@import "app/mixins.scss";
@import "app/vars.scss";
@import "app/fonts.scss";

@import "app/common.scss";

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

@import "pages/header.scss";

@import "pages/hero.scss";
@import "pages/support.scss";
@import "pages/catalog.scss";
@import "pages/product.scss";
@import "pages/order.scss";

@import "pages/footer.scss";
